<div class="jumbotron">
  <div class="container">
    <div><%= image_tag('money', size: 20*40 ) %>	<h2>Welcome to your own Checklist!</h2>
	    <h3>Keep track of stuff.</h3>

    </div>
  </div>
</div>
